/*card images by Nasa*/
.card-image-cc803b57be7d55444ae6f763d256ef6a4fda5deb{
    background-position: center;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/stsci-01gkmkkhkk7hr64v5hgx4gms9k_0.png");
}

.card-image-a684248598a590e37dd16686c8022b880a9a63d9{
    background-position: center;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/682400main_pia14922_full_full.jpg");
}

.card-image-a2f7fcb5afeb7983ffbb6ce3d1a7e91edf321350{
    background-position: center;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia25015.jpg");
}

.card-image-827aa9268a9231cb0d5425a1616beb259352e703{
    background-position: center;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia25017-1041.jpg");
}

.card-wrap{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    perspective: 100rem;
    padding: 3rem;
}

.card-back {
    transform: rotateY(-180deg);
}

@keyframes stayvisible {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@-webkit-keyframes stayvisible {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

.card-content {
    transition: .5s ease-out;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    position: relative;
}

.card-back, .card-front {
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-backface-visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 35vh;
    width: 25vh;
}

.card-front {
    transform: rotateY(0deg);
    -webkit-animation: stayvisible .5s both;
    animation: stayvisible .5s both;
    -ms-animation: donothing .5s;
    -ms-transition: visibility 0s linear .17s;
    visibility: visible;
    position: relative;
    background-position: center;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/blackholexray.png");
}
.flip .card-front, .card-back {
    -webkit-animation: stayvisible .5s both;
    animation: stayvisible .5s both;
    -ms-animation: donothing .5s;
    -ms-transition: visibility 0s linear .17s;
    visibility: hidden;
}

.flip .card-back {
    -webkit-animation: stayvisible .5s both;
    animation: stayvisible .5s both;
    -ms-animation: donothing .5s;
    -ms-transition: visibility 0s linear .17s;
    visibility: visible;
}

.flip .card-content {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}